<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/css/style.css' />
    <title>Stroud Weather</title>
</head>

<body>
    <h1>Enter your search</h1>
    <form action='/forecast' method='POST'>
        <label for='cityInput'>City:</label></br>
        <input required type='text' name='cityInput' /> </br>
        <label for='countryInput'>Country:</label></br>
        <input required type='text' name='countryInput' /></br>
        <button type='submit'>Search</button>
    </form>
    <h1>The weather forecast for <span id='city'>{{city}}</span>, <span id='countryCode'>{{country}}</span>:</h1>
    <ul>
        {{#each weatherObject}}
        <li>
            <p>{{this.day}}</p>
            <p>{{this.temp}} °C</p>
            <p>{{this.description}}</p>
            <img src={{this.icon}} alt={{this.description}} </li>
            {{/each}}
    </ul>
</body>

</html>