<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel='stylesheet' href='/css/style.css' />
    <title>City Search</title>
</head>

<body>


    <h1>Enter your search</h1>
    <form action='/' method='POST'>
        <label for='cityInput'>City:</label></br>
        <input required type='text' name='cityInput' /> </br>
        <label for='countryInput'>Country:</label></br>
        <input required type='text' name='countryInput' /></br>
        <button type='submit'>Search</button>
    </form>
    <div id='results'>
        <h2 class='location'>In <span id='city'>{{city}}</span>, <span id='countryCode'>{{country}}</span></h2>
        <h3>The temperature is: {{temperature}}°C</h3>
        <h3>The weather is: {{description}}<img src={{img}} alt={{description}} /></h3>
    </div>
    <script src='/js/main.js'></script>
</body>

</html>