<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/css/style.css' />
    <title>Stroud Weather</title>
</head>

<body>
    <h1>The weather in Stroud:</h1>
    <ul>
        {{#each weatherObject}}
        <li>
            <p>{{this.day}}</p>
            <p>Average temp: {{this.temp}} °C</p>
            <p>{{this.description}}</p>
            <img src={{this.icon}} alt={{this.description}} </li>
            {{/each}}
    </ul>
    {{>Navbar}}
</body>

</html>